.home {
  background-color: #f3f4f6;
  /*height: 100vh;*/
}

.about {
  font-size: 24px;
  padding-bottom: 30px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  /*padding-top: 60px;*/
  margin-bottom: 30px;
  max-width: 360px;
}

.about p {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  max-width: 700px;
}

.about h2 {
  /*margin-top: 80px;*/
  margin-top: 0 !important;
}

.header__photo--img {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  max-height: 500px;
  -webkit-box-shadow: 30px -30px 0px 5px rgba(224, 224, 224, 0.47);
  -moz-box-shadow: 30px -30px 0px 5px rgba(224, 224, 224, 0.47);
  box-shadow: 30px -30px 0px 5px rgba(224, 224, 224, 0.47);
}

.header-img-after img {
  position: absolute;
  right: 0;
  left: 0;
}

.square-upper {
  width: 70px;
  height: 70px;
  background-color: rgba(224, 224, 224, 0.47);;
  margin-left: 100px;
  margin-bottom: 30px;
}

.square-bottom {
  width: 50px;
  height: 50px;
  background-color: rgba(224, 224, 224, 0.47);;
  margin-left: 30px;
}
