.facts {
  height: auto;
  font-size: 24px;

  background-color: #f3f4f6;
  border-radius: 5px;
  background-image: url("~@/assets/img/flowers2.jpg");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 0 100%;

  &.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &--wrapper {
    margin: 0 auto;
    text-align: left;
  }

  & h2 {
    text-align: center;

  }

  &__info {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
  }

  &__count {
    font-size: 48px;
    margin-right: 15px;
  }
}

.slide-inner {
  max-width: 610px;
  height: 210px;
  margin: auto;
  display: flex;
  align-items: center;
}

.swiper-container {
  max-width: 700px;
  height: auto;
  max-height: 210px;
}

.swiper-slide {
  text-align: center;
  font-size: 34px;
}

.swiper-pagination-fraction {
  position: static !important;
  display: flex;
  align-items: flex-end;
  font-size: 48px;
  padding-right: 15px;
  width: 80px !important;
}

.swiper-pagination-total {
  font-size: 42px !important;
  opacity: 0.4 !important;
}

.mouse-hint {
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.text-wrapper {
  &:after {
    content: "";
    width: 25px;
    height: 25px;
    border-left: solid 3px rgba(0, 0, 0, 0.1);
    border-top: solid 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
  }

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    border-right: solid 3px rgba(0, 0, 0, 0.1);
    border-bottom: solid 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 15px;
    right: 0;
  }
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  /*для всех страниц*/
  .page-wrapper {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 576px), only screen and (max-device-width: 576px) {
  .swiper-slide {
    font-size: 24px;
  }
  .facts__info {
    margin-top: 0;
  }
}
