.projects {
  position: relative;

  & h2 {
    text-align: center;
  }

  &__wrap {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}

.projects-title__border {
  width: 50px;
  border-bottom: 2px solid #267df4;
}

.card-item {
  padding: 10px 5px;
  overflow: hidden;

  &__front {
    max-width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    & img {
      min-width: 100%;
    }
  }
}

.card-item:hover .card-item__back {
  display: block;
  transition: width .2s;
}

.card-item__back {
  display: none;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: absolute;
  top: 10px;
  width: 350px;
  height: 98.5%;

  & .description {
    color: #ffffff;
    font-size: 28px;
    flex-direction: column;
    display: flex;
    padding: 50px 20px 40px 20px;
    overflow: hidden;

    & span {
      text-align: center;
      animation: fadeInLeftBig 0.5s;
      margin-bottom: 15px;

      &:after {
        content: "";
        width: 10px;
        height: 1px;
        border-bottom: solid 20px rgba(255, 255, 255, 0.3);
      }

      &:last-child {
        border-bottom: none;
      }
    }

    & span:nth-child(1) {
      transition: all .4s;
    }
  }
}

.item-preview {
  max-width: 350px;
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  /*для всех страниц*/
  .page-wrapper {
    padding-top: 60px;
  }
  .card-item__back {
    & .description {
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 350px), only screen and (max-device-width: 350px) {
  .item-preview {
    max-width: 290px;
  }
  .card-item__back {
    width: 290px;
  }
}
